/* reset */
* {
    padding: 0;
    margin: 0;
}

.container {
    background-image: url('img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg');
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: row;
    margin: 0 5%;
}

.nav1 a{

    padding-right: 10%;
    text-decoration: none;
    color:beige;
}
.navs {
    font-size: 20px;
    color:beige;
    margin: 2% 5%;
}

.link {
    text-decoration: none;
    color:beige;
}
.heading {
    color:beige;
}
.name {
    color: beige;
    position: relative;
    left: 25%;
    margin-top: 5%;
}
.description {
    color: beige;
    position: relative;
    left: 25%;
    top: 25%;
}

.skills {
    color: beige;
    position: relative;
    margin: 20% 15%;
}

.contact-heading {
    color: beige;
    margin: 5%;
}
.github {
    margin:5%;
}

.email {

}
/* Drop DOwn */
/* https://codepen.io/alvarotrigo/pen/vYRVbzK 
https://alvarotrigo.com/blog/drop-down-menu-javascript/ */