/* reset */
* {
    padding: 0;
    margin: 0;
}

:root {
    --font-color: beige;
    /* This makes the links scroll, intead of going straight to position */
    scroll-behavior:smooth;
}

.container {
    background-image: url('img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg');
    background-size: cover; 
    height: auto;
    width: auto;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: row;
    margin: 0 5%;
}

.nav1 a{
    padding-right: 10%;
    text-decoration: none;
    color:var(--font-color);
}
.navs {
    font-size: 20px;
    color:var(--font-color);
    margin: 2% 5%;
}



.link, .backToTop{
    text-decoration: none;
    color:var(--font-color);
}

.heading, .projects {
    color:var(--font-color);
}
.name {
    color: var(--font-color);
    position: relative;
    left: 25%;
    margin-top: 5%;
}
.description {
    color: var(--font-color);
    position: relative;
    left: 25%;
    top: 25%;
}

.skills {
    color: var(--font-color);
    position: relative;
    margin: 5% 15%;
}


.skill-type {
    margin: 2% 0;
    font-size: 1.5em;
}

/* Project section */

#projects {
    display: flex;
}
.projects {
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;

}

.thecard {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;;
    margin: 5%;
    width: 45%;
    height: 50px;
}

.card:hover {
    transform: scale(1.05);
}

/* About section */


.about {
    margin-left: 5%;
    width: 50%;
}

/* Contct section */

.contact-heading {
    color: var(--font-color);
    margin: 5%;
}
.github {
    margin:10%;
    height: 10px;
}

.email {
    font-size: 2em;
    margin: 5px;
}


/* Bacj to top and scroll */


.backToTop {
    margin: 5%;
}
